body {
	background: #e3e3e3;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	color: #222;
}

	.main-wrap {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

		.main-wrap > header,
		.main-wrap > div,
		.main-wrap > footer {
			width: 960px;
			margin: 0px auto;
		}

		.main-wrap > header {
			margin: 20px auto 0px;
		}

			.main-wrap > header > hgroup {
				-moz-text-shadow: 1px 1px 1px #aaa;
				-webkit-text-shadow: 1px 1px 1px #aaa;
				-o-text-shadow: 1px 1px 1px #aaa;
				text-shadow: 1px 1px 1px #aaa;
				color: #666;
			}

		.main-wrap > #blog-container {
			border: 1px solid #999;
			border-top: 1px solid #fff;
			border-left: 1px solid #fff;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			-o-border-radius: 10px;
			border-radius: 10px;
			background: #f1f1f1;
			padding: 30px;
			width: 900px;
			-moz-box-shadow: 0px 3px 10px 0px #787878;
			-webkit-box-shadow: 0px 3px 10px 0px #787878;
			-o-box-shadow: 0px 3px 10px 0px #787878;
			box-shadow: 0px 3px 10px 0px #787878;
			margin: 20px auto;
		}

			#blog-container > section {
				background: #f1f1f1;
			}

			#blog-container > .posts,
			#blog-container > .post {
				position: relative;
			}

				.posts > h3 {
					margin-bottom: 10px;
					color: #bbb;
				}

				.posts > .btn,
				.post > .btn {
					position: absolute;
					top: 0px;
					right: 0px;
					box-shadow: 0px 0px 7px -1px #999;
				}

				.post legend {
					margin: 0;
					font-family: inherit;
					font-weight: bold;
					color: inherit;
					text-rendering: optimizelegibility;
					font-size: 24px;
					line-height: normal;
					border: none;
					padding-bottom: 10px;
				}

				.post .well {
					background: #efefef;
					-moz-box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.07);
					-webkit-box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.07);
					-o-box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.07);
					box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.07);
					border: 1px solid #d9d9d9;
					border-bottom: 1px solid #fff;
					border-right: 1px solid #fff;
					-moz-border-radius: 7px;
					-webkit-border-radius: 7px;
					-o-border-radius: 7px;
					border-radius: 7px;
					margin: 0px;
				}

					.post .form-horizontal .control-label {
						width: 70px;
						font-weight: bold;
					}

					.post .form-horizontal .controls {
						margin-left: 90px;
					}

					.post .form-horizontal textarea {
						width: 735px;
						height: 200px;
					}

			#blog-container ol {
				padding: 0px;
				margin: 0px;
			}

				#blog-container ol > li {
					list-style-type: none;
					display: block;
					padding: 0px 0px 15px;
				}

				#blog-container ol > li:first-child {
					margin-top: 20px;
				}

					.post article.well {
						padding-top: 15px;
					}

					.post p {
						padding: 10px 0px;
						font-size: 16px;
					}

					.post .well .btn {
						margin-top: 10px;
					}

					.post aside {
						padding-bottom: 5px;
						color: #999;
					}

						.post aside span {
							padding-right: 30px;
						}

			#blog-container .buttonset {
				padding-top: 20px;
			}

			#blog-container .cancel {
				padding-left: 20px;
			}

		.main-wrap > footer {
			margin: 30px auto;
			background: #666;
			-moz-box-shadow: 0px 3px 10px 0px #787878;
			-webkit-box-shadow: 0px 3px 10px 0px #787878;
			-o-box-shadow: 0px 3px 10px 0px #787878;
			box-shadow: 0px 3px 10px 0px #787878;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			-o-border-radius: 10px;
			border-radius: 10px;
			text-align: right;
			padding: 30px;
			width: 900px;
			border: 1px solid #444;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
		}

			.main-wrap > footer a {
				color: #f1f1f1;
			}

#gh-container {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 170px;
	height: 170px;
	overflow: hidden;
	z-index: 2;
}

#github {
	right: -45px;
	height: 50px;
	top: 50px;
	position: absolute;
	text-decoration: none;
	width: 250px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	color: #fff;
}

	#github > span {
		background: #000;
		color: #fff;
		font-size: 14px;
		left: 0;
		padding: 5px 0px;
		position: absolute;
		text-align: center;
		width: 250px;
		-moz-box-shadow: 1px 1px 10px 0px #787878;
		-webkit-box-shadow: 1px 1px 10px 0px #787878;
		-o-box-shadow: 1px 1px 10px 0px #787878;
		box-shadow: 1px 1px 10px 0px #787878;
	}