body {
	background: #f1f1f1;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	color: #222;
}

	.main-wrap {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

		.main-wrap > header,
		.main-wrap > div,
		.main-wrap > footer {
			width: 960px;
			margin: 0px auto;
		}

		.main-wrap > header {
			margin: 20px auto 0px;
		}

			.main-wrap > header > hgroup {
				-moz-text-shadow: 2px 1px 3px #aaa;
				-webkit-text-shadow: 2px 1px 3px #aaa;
				-o-text-shadow: 2px 1px 3px #aaa;
				text-shadow: 2px 1px 3px #aaa;
			}

		.main-wrap > #blog-container {
			border: #ccc;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			-o-border-radius: 10px;
			border-radius: 10px;
			background: #fff;
			padding: 30px;
			width: 900px;
			-moz-box-shadow: 0px 3px 10px 0px #787878;
			-webkit-box-shadow: 0px 3px 10px 0px #787878;
			-o-box-shadow: 0px 3px 10px 0px #787878;
			box-shadow: 0px 3px 10px 0px #787878;
			margin: 20px auto;
		}

			#blog-container > section {
				background: #fff;
			}

			#blog-container > .posts,
			#blog-container > .post {
				position: relative;
			}

				.posts > .btn,
				.post > .btn {
					position: absolute;
					top: 0px;
					right: 0px;
					box-shadow: 0px 0px 7px -1px #999;
				}

				.post legend {
					margin: 0;
					font-family: inherit;
					font-weight: bold;
					color: inherit;
					text-rendering: optimizelegibility;
					font-size: 24px;
					line-height: normal;
					border: none;
					padding-bottom: 20px;
				}

				.post .well {
					background: #fafafa;
					-moz-box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.07);
					-webkit-box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.07);
					-o-box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.07);
					box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.07);
				}

					.post .form-horizontal .control-label {
						width: 70px;
						font-weight: bold;
					}

					.post .form-horizontal .controls {
						margin-left: 90px;
					}

			#blog-container ol {
				padding: 0px;
				margin: 0px;
			}

				#blog-container ol > li {
					list-style-type: none;
					display: block;
					padding: 5px 0px 10px;
					border-bottom: 1px solid #e9e9e9;
				}

				#blog-container ol > li:last-child {
					border-bottom: none;
				}

			#blog-container .buttonset {
				padding-top: 20px;
			}

			#blog-container .cancel {
				padding-left: 20px;
			}

		.main-wrap > footer {
			margin: 30px auto;
		}

#gh-container {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 170px;
	height: 170px;
	overflow: hidden;
	z-index: 2;
}

#github {
	right: -45px;
	height: 50px;
	top: 50px;
	position: absolute;
	text-decoration: none;
	width: 250px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	color: #fff;
}

	#github > span {
		background: #000;
		color: #fff;
		font-size: 14px;
		left: 0;
		padding: 5px 0px;
		position: absolute;
		text-align: center;
		width: 250px;
		-moz-box-shadow: 1px 1px 10px 0px #787878;
		-webkit-box-shadow: 1px 1px 10px 0px #787878;
		-o-box-shadow: 1px 1px 10px 0px #787878;
		box-shadow: 1px 1px 10px 0px #787878;
	}