<fieldset>
	{{#if id}}
	<legend>Editing "{{title}}"</legend>
	{{else}}
	<legend>Create A New Post</legend>
	{{/if}}
	<form class="well form-horizontal">
		<div class="control-group">
			<label for="title" class="control-label">Title</label>
			<div class="controls"><input type="text" id="title" value="{{title}}" /></div>
		</div>
		<div class="control-group">
			<label for="author" class="control-label">Author</label>
			<div class="controls"><input type="text" id="author" value="{{author}}" /></div>
		</div>
		<div class="control-group">
			<label for="postDate" class="control-label">Post Date</label>
			<div class="controls"><input type="text" id="postDate" value="{{postDate}}" /></div>
		</div>
		<div class="control-group">
			<label for="content" class="control-label">Post</label>
			<div class="controls"><textarea id="content">{{content}}</textarea></div>
		</div>
	</form>
</fieldset>
<div class="buttonset">
	{{#if id}}
	<a class="btn btn-success" title="Save Changes"><i class="icon-ok icon-white"></i> Save Changes</a>
	{{else}}
	<a class="btn btn-success" title="Save New Post"><i class="icon-ok icon-white"></i> Save New Post</a>
	{{/if}}
	{{#if id}}
	<a href="#view/{{id}}" class="cancel" title="Cancel">Cancel</a>
	{{else}}
	<a href="#" class="cancel" title="Cancel">Cancel</a>
	{{/if}}
	{{#if id}}
	<a href="#delete/{{id}}" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete Post</a>
	{{/if}}
</div>