<article>
	<fieldset>
		<legend>Edit post</legend>
		<dl>
			<dt>Title</dt>
			<dd><input type="text" id="title" value="{{title}}" /></dd>
			<dt>Author</dt>
			<dd><input type="text" id="author" value="{{author}}" /></dd>
			<dt>Post Date</dt>
			<dd><input type="text" id="postDate" value="{{postDate}}" /></dd>
			<dt>Post</dt>
			<dd><textarea id="content">{{content}}</textarea></dd>
		</dl>
	</fieldset>
	<div class="buttonset">
		<input type="submit" class="btn btn-success" id="submit" value="Save" />
		<a href="#" class="cancel">Cancel</a>
	</div>
</article>